html
{
    font-family: 'Lora', Arial, sans-serif;
    font-size: larger;
    background-color: rgb(254, 254, 254);
}

body
{
    margin: 0;
    padding: 0;
}

.datawrapper
{
    font-family: Roboto;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.dwcaption
{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    color: rgb(24, 24, 24);
    font-family: Roboto, sans-serif;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

article
{
    width: 70%;
    margin: 30px;
}

main
{
    width: 70%;
    margin: 30px;
}

small
{
    color: grey
}

nav
{
    background-color: #333;
    overflow: hidden;
}

nav a 
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover 
{
    background-color: #ddd;
    color: black;
}

iframe
{
    margin-bottom: 35px;
}

.bumper
{
    margin-top: 35px;
}

.flex
{
    display: flex;
    gap: 20px;
}

.child
{
    width: 50%;
}

@media (max-width: 800px) {
    nav
    {
        display: flex;
        flex-direction: column;
    }
    article
    {
        width: 100% !important;
        margin: 15px;
    }
    main
    {
        width: 100% !important;
        margin: 15px;
    }
    .center
    {
        display: flex;
        justify-content: left;
        align-items: normal;
    }
    .flex
    {
        flex-direction: column;
    }
    .child
    {
        width: 100%;
    }
}